<h1>Liste des Evènements</h1>

<div class="grid">
    <div class="col-12">
		<p-tabView>
			<p-tabPanel header="Liste des Evènements" [selected]="true" leftIcon="pi pi-list" >
				<p-table #dt1 
				[value]="listEvents" 
				dataKey="id" 
				[rows]="10"
				[loading]="loading" 
				[rowHover]="true" 
				styleClass="p-datatable-gridlines" 
				[paginator]="true" 
				[globalFilterFields]="['date','event_type.label','address.city']" 
				responsiveLayout="scroll">
					<ng-template pTemplate="caption">
						<div class="flex justify-content-between flex-column sm:flex-row">
							<button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
							<span class="p-input-icon-left mb-2">
								<i class="pi pi-search"></i>
								<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
							</span>
						</div>
					</ng-template>
					<ng-template pTemplate="header">
						<tr>
							<th>
								<div class="flex justify-content-between align-items-center">
									Date
									<p-columnFilter type="date" field="datetime_start" display="menu"  placeholder="Recherche par date"></p-columnFilter>
								</div>
							</th>
							<th>
								<div class="flex justify-content-between align-items-center">
									Type
									<p-columnFilter type="text" field="event_type.label" display="menu" placeholder="Recherche par type"></p-columnFilter>
								</div>
							</th>
							<th>
								<div class="flex justify-content-between align-items-center">
									Nom
								</div>
							</th>
							<th>
								<div class="flex justify-content-between align-items-center">
									Ville
									<p-columnFilter type="text" field="address.city" display="menu" placeholder="Recherche par ville"></p-columnFilter>
								</div>
							</th>
							<th>
								Participation ?
							</th>
							<th>
							</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-event>
						<tr>
							<td style="min-width: 12rem;">
								{{ event.datetime_start | date: 'dd MMM yyyy'}}
							</td>
							<td style="min-width: 12rem;">
								{{ event.event_type.label }}
							</td>
							<td style="min-width: 10rem;">
								{{ event.name }}
							</td>
							<td style="min-width: 10rem;">
								{{event.address.city }}
							</td>
							<td style="text-align: center">
								<span *ngIf="checkUserParticipation(event)">✔️</span>
							</td>
							<td style="min-width: 12rem;">
								<button pButton pRipple 
									label="Détails"
									icon="pi pi-info-circle"
									type="button" 
									class="p-button-outlined p-button-sm p-button-info mr-2 mb-2" 
									[routerLink]="'/events/' + event.id"
								></button>
							</td>
						</tr>
					</ng-template>
					<ng-template pTemplate="emptymessage">
						<tr>
							<td colspan="7">Aucun évènement trouvé</td>
						</tr>
					</ng-template>
					<ng-template pTemplate="loadingbody">
						<tr>
							<td colspan="7">Chargement des évènements, veuillez patienter...</td>
						</tr>
					</ng-template>
				</p-table>   
			</p-tabPanel>
			<p-tabPanel header="Carte des Evènements" leftIcon="pi pi-map" >
				<ng-template pTemplate="content">
					<div *ngIf="!loading">
						<app-all-events-map
							[events]="listEvents"
							[userGpsPos]="connectedUser.gps"
						></app-all-events-map>
					</div>
				</ng-template>
			</p-tabPanel>
		</p-tabView>
    </div>
</div>
