<h1>Liste des Evènements</h1>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table #dt1 
            [value]="listEvents" 
            dataKey="id" 
            [rows]="10"
            [loading]="loading" 
            [rowHover]="true" 
            styleClass="p-datatable-gridlines" 
            [paginator]="true" 
            [globalFilterFields]="['date','event_type.label','address.city']" 
            responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th>
							<div class="flex justify-content-between align-items-center">
								Date
								<p-columnFilter type="date" field="datetime_start" display="menu"  placeholder="Recherche par date"></p-columnFilter>
							</div>
						</th>
						<th>
							<div class="flex justify-content-between align-items-center">
								Type
								<p-columnFilter type="text" field="event_type.label" display="menu" placeholder="Recherche par type"></p-columnFilter>
							</div>
						</th>
						<th>
							<div class="flex justify-content-between align-items-center">
								Nom
							</div>
						</th>
						<th>
							<div class="flex justify-content-between align-items-center">
								Ville
								<p-columnFilter type="text" field="address.city" display="menu" placeholder="Recherche par ville"></p-columnFilter>
							</div>
						</th>
						<th>
                            Participation ?
						</th>
						<th>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-event>
					<tr>
						<td style="min-width: 12rem;">
							{{ event.datetime_start | date: 'dd MMM yyyy'}}
						</td>
						<td style="min-width: 12rem;">
							{{ event.event_type.label }}
						</td>
						<td style="min-width: 10rem;">
							{{ event.name }}
						</td>
						<td style="min-width: 10rem;">
							{{event.address.city }}
						</td>
                        <td style="text-align: center">
                            <span *ngIf="checkUserParticipation(event)">✔️</span>
                        </td>
						<td style="min-width: 12rem;">
							<button pButton pRipple 
                                label="Détails"
                                icon="pi pi-info-circle"
                                type="button" 
                                class="p-button-outlined p-button-sm p-button-info mr-2 mb-2" 
                                [routerLink]="'/events/' + event.id"
                            ></button>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="7">Aucun évènement trouvé</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="7">Chargement des évènements, veuillez patienter...</td>
					</tr>
				</ng-template>
    		</p-table>
        </div>
    </div>
</div>

<!-- Event Popup -->
<!--
<p-dialog 
    [(visible)]="eventPopupVisible" 
    [style]="{width: '1200px'}" 
    header=""
    [modal]="true"
>
    <app-event-detail 
        [event]="selectedEvent"
        [coop]="selectedCoop"
        [user]="connectedUser"
        (clickOnParticipate)="participate($event)"
        (clickOnEventClose)="eventViewClosed($event)"
    >
    </app-event-detail>
</p-dialog>
-->

<!--
<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <h2>Liste des coopératives</h2>
            <p-dropdown 
                [options]="listCoops" optionLabel="name" optionValue="id"
                [(ngModel)]="coopId" 
                placeholder="Choisissez une coopérative" 
                [showClear]="false"
                (onChange)="getOneCoop(coopId)"
            >
            </p-dropdown>
        </div>
        
        <div *ngIf="selectedCoop" class="card">
            <div class="grid">
                <div class="col-5" style="border-right: 1px solid var(--gray-300)">
                    <div class="grid">
                        <div class="col-2">
                            <img src="{{ selectedCoop.logo }}" width="70%">
                        </div>
                        <div class="col">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Nom</th>
                                        <td>{{ selectedCoop.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Type</th>
                                        <td>{{ selectedCoop.coop_type.label }} ({{ selectedCoop.coop_type.id }})</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ selectedCoop.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Addresse</th>
                                        <td>
                                            <span *ngIf="selectedCoop.address.street_name">
                                                {{ selectedCoop.address.street_name }}
                                                <span *ngIf="selectedCoop.address.street_nb">, {{selectedCoop.address.street_nb }}</span>
                                                <br />
                                            </span>
                                            {{ selectedCoop.address.postal_code }} {{ selectedCoop.address.city }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="coopEvents">
                        <h5>Evènements</h5>
                        <table>
                            <tbody>
                                <tr *ngFor="let event of coopEvents">
                                    <th style="text-align: right">
                                        <em>{{ event.event_type.label }}</em>
                                    <td>
                                        {{ event.name }}
                                    </td>
                                    <td>
                                        {{ event.datetime_start | date: 'dd MMM yy' }}
                                    </td>
                                    <td>
                                        <span *ngIf="event.location != ''"> ({{ event.location }})</span>
                                        <span *ngIf="event.location == ''"> ({{ event.address.city }})</span>
                                    </td>
                                    <td>
                                        <button pButton pRipple 
                                            label=""
                                            icon="pi pi-info-circle"
                                            type="button" 
                                            class="p-button-outlined p-button-sm p-button-info mr-2 mb-2" 
                                            (click)="showEvent(event)"
                                        ></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div *ngIf="selectedEvent" class="col">
                    <h3>{{ selectedEvent.event_type.label }} - {{ selectedEvent.name }}</h3>
                    <h5>{{ selectedEvent.description }}</h5>
                    <p>
                        <em>Du {{ selectedEvent.datetime_start | date: 'dd MMM yyyy H:mm' }} au {{ selectedEvent.datetime_end | date: 'dd MMM yyyy H:mm' }}</em>
                        <br />
                        <em>{{ selectedEvent.nb_people_min }} à {{ selectedEvent.nb_people_max }} participants</em>
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <td><i class="pi pi-map-marker text-red-500" style="font-size: 2rem"></i></td>
                                <td>
                                    <p>
                                        <b *ngIf="selectedEvent.location != ''">{{ selectedEvent.location }}</b>
                                        <br />
                                        <span *ngIf="selectedEvent.address.street_name">
                                            {{ selectedEvent.address.street_name }}
                                            <span *ngIf="selectedEvent.address.street_nb">, {{ selectedEvent.address.street_nb }}</span>
                                        </span>
                                        <br />
                                        <span>{{ selectedEvent.address.postal_code }}&nbsp;{{ selectedEvent.address.city }}</span>
                                    </p>
                                </td>
                                <td>
                                    <button pButton pRipple 
                                        label="Participer"
                                        icon="pi pi-ticket"
                                        type="button" 
                                        class="p-button-outlined p-button-sm p-button-success mr-2 mb-2" 
                                        (click)="register()"
                                    ></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="bg-yellow-100">
                        lon: {{ selectedEvent.gps.lon }}
                        <br />
                        lat: {{ selectedEvent.gps.lat }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
-->