<div *ngIf="coop">
    <table>
        <tbody>
            <tr>
                <td>
                    <img src="{{ coop.logo }}" width="60px">
                </td>
                <td>
                    <h4>{{ coop.name }}</h4>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="event" class="grid">
    <div class="col-6">
        <h3>{{ event.event_type.label }} - {{ event.name }}</h3>
        <h5>{{ event.description }}</h5>
        <p>
            <em>Du {{ event.datetime_start | date: 'dd MMM yyyy H:mm' }} au {{ event.datetime_end | date: 'dd MMM yyyy H:mm' }}</em>
            <br />
            <em>{{ event.nb_people_min }} à {{ event.nb_people_max }} participants</em>
        </p>
        <table>
            <tbody>
                <tr>
                    <td><i class="pi pi-map-marker text-red-500" style="font-size: 2rem"></i></td>
                    <td>
                        <p>
                            <b *ngIf="event.location != ''">{{ event.location }}</b>
                            <br />
                            <span *ngIf="event.address.street_name">
                                {{ event.address.street_name }}
                                <span *ngIf="event.address.street_nb">, {{ event.address.street_nb }}</span>
                            </span>
                            <br />
                            <span>{{ event.address.postal_code }}&nbsp;{{ event.address.city }}</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <div class="grid">
            <div class="col-6">
                <h3>Evenement</h3>
                <p class="bg-yellow-100">
                    lon: {{ event.gps.lon }}
                    <br />
                    lat: {{ event.gps.lat }}
                </p>
            </div>
            <div *ngIf="user" class="col-6">
                <h3>Participant</h3>
                <p class="bg-yellow-100">
                    lon: {{ user.gps.lon }}
                    <br />
                    lat: {{ user.gps.lat }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="gc-popup-footer">
    <div class="grid ml-0 mr-0 p-fluid">
        <div class="col-6">
            <button pButton pRipple 
                [disabled]="checkUserParticipation()"
                label="Participer"
                icon="pi pi-ticket"
                type="button" 
                class="p-button-outlined p-button-sm p-button-success mr-2 mb-2" 
                (click)="participate()"
            ></button>
        </div>
        <div class="col-6">
            <button pButton pRipple 
                label="Fermer"
                icon="pi pi-times-circle"
                type="button" 
                class="p-button-outlined p-button-sm p-button-danger mr-2 mb-2" 
                (click)="close()"
            ></button>
        </div>
    </div>
</div>

<!--<p-toast></p-toast>-->