<h1>DEBUG INFOS</h1>

<div class="card">
    <div class="grid" style="width: 100%;">
        <div class="col-3">
            <h2>Types de Coopératives</h2>
            <ul>
                <li *ngFor="let coopType of coopTypes">
                    {{ coopType.id }}: {{ coopType.label }}
                </li>
            </ul>
        </div>
        <div class="col-3">
            <h2>Types d'Evènements</h2>
            <ul>
                <li *ngFor="let eventType of eventTypes">
                    {{ eventType.id }}: {{ eventType.label }}
                </li>
            </ul>
        </div>
        <div class="col-6">
            <h2>Tests Toasts</h2>
            <button pButton pRipple 
                label="Test Toast"
                icon="pi pi-cog"
                type="button"
                class="p-button-outlined p-button-primary mr-2 mb-2"
                (click)="toast1()"
            ></button>
            <p>
                Il faut injecter 'MessageService' dans les 'providers' du module,<br />
                puis ajouter le 'ToastModule' dans les 'imports' du module.<br />
                Ensuite, dans le constructeur du compo, on injecte la dép. de MessageService pour ajouter des toasts...<br />
                IL faut aussi une balise p-toast à la fin de la page.
                C'est tout simple.
            </p>
        </div>
    </div>
    
    <div class="grid" style="width: 100%;">
        <div class="col-6">
            <h2>Liste Coops</h2>
            <button (click)="getAllCoops()">Get Coops</button>
            <ul>
                <li *ngFor="let coop of cooperatives">
                    {{ coop.name }}&nbsp;<button (click)="getOneCoop(coop.id)">Détails</button>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <div *ngIf="selectedCoop != null && selectedCoop != undefined">
                <h2>Détail Coopérative</h2>
                <img src="{{ selectedCoop.logo }}" width="40px" height="40px">
                <table>
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ selectedCoop.name }}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ selectedCoop.coop_type.label }} ({{ selectedCoop.coop_type.id }})</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ selectedCoop.description }}</td>
                        </tr>
                        <tr>
                            <th>
                                Addresse
                                <br />
                                <button (click)="testNominatim(selectedCoop.address)">Test Nominatim</button>
                            </th>
                            <td>
                                <span *ngIf="selectedCoop.address.street_name">
                                    {{ selectedCoop.address.street_name }}
                                    <span *ngIf="selectedCoop.address.street_nb">, {{selectedCoop.address.street_nb }}</span>
                                    <br />
                                </span>
                                {{ selectedCoop.address.postal_code }} {{ selectedCoop.address.city }}
                                <br />
                                lon: {{ selectedCoop.gps.lon }} ; lat: {{ selectedCoop.gps.lat }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p
                    class="surface-800 text-orange-500"
                    style="font-family: monospace; padding: 5px; white-space: pre-line"
                >
                    lon: {{ testGps?.lon }}
                    <br />
                    lat: {{ testGps?.lat }}
                </p>
                <button (click)="getAllEventFromCoop(selectedCoop.id)">Liste Evènements de cette coop</button>
            </div>
        </div>
    </div>
    <hr />
    
    <div class="grid" style="width: 100%;">
        <div class="col-6">
            <h2>Liste Evènements</h2>
            <button (click)="getAllEvents()">Tous les Evènements</button>
            <ul>
                <li *ngFor="let event of events">
                    {{ event.name }}&nbsp;<button (click)="getOneEvent(event.id)">Détails</button>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <div *ngIf="selectedEvent != null && selectedEvent != undefined">
                <h2>Détail Evènement</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ selectedEvent.name }}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ selectedEvent.event_type.label }} ({{ selectedEvent.event_type.id }})</td>
                        </tr>
                        <tr>
                            <th>Du ...<br />Au ...</th>
                            <td>
                                {{ selectedEvent.datetime_start | date:'YYYY/MM/dd H:mm' }}
                                <br />
                                {{ selectedEvent.datetime_end | date:'YYYY/MM/dd H:mm' }}
                            </td>
                        </tr>
                        <tr>
                            <th>Nb personnes min - max</th>
                            <td>
                                {{ selectedEvent.nb_people_min }} - {{ selectedEvent.nb_people_max }}
                            </td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ selectedEvent.description }}</td>
                        </tr>
                        <tr *ngIf="selectedEvent.location != ''">
                            <th>Lieu</th>
                            <td>{{ selectedEvent.location }}</td>
                        </tr>
                        <tr>
                            <th>
                                Addresse
                                <br />
                                <button (click)="testNominatim(selectedEvent.address)">Test Nominatim</button>
                            </th>
                            <td>
                                <span *ngIf="selectedEvent.address.street_name">
                                    {{ selectedEvent.address.street_name }}
                                    <span *ngIf="selectedEvent.address.street_nb">, {{selectedEvent.address.street_nb }}</span>
                                    <br />
                                </span>
                                {{ selectedEvent.address.postal_code }} {{ selectedEvent.address.city }}
                                <br />
                                lon: {{ selectedEvent.gps.lon }} ; lat: {{ selectedEvent.gps.lat }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p
                    class="surface-800 text-orange-500"
                    style="font-family: monospace; padding: 5px; white-space: pre-line"
                >
                    lon: {{ testGps?.lon }}
                    <br />
                    lat: {{ testGps?.lat }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="grid" style="width: 100%;">
        <div class="col-12">
            <h2>Test Nominatim</h2>
            <table>
                <tbody>
                    <tr *ngFor="let address of testAddresses">
                        <td>
                            <b>CP: </b>{{ address.postal_code }}<br />
                            <b>Cy: </b>{{ address.city }}<br />
                            <b>St: </b>{{ address.street_name }}<br />
                            <b>S#: </b>{{ address.street_nb }}<br />
                        </td>
                        <td>
                            <button pButton pRipple 
                            label="Test 1"
                            icon="pi pi-cog"
                            type="button"
                            class="p-button-outlined p-button-warning mr-2 mb-2"
                            (click)="testNominatim(address)"
                            ></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p
                class="surface-800 text-orange-500"
                style="font-family: monospace; padding: 5px; white-space: pre-line"
            >
                lon: {{ testGps?.lon }}
                <br />
                lat: {{ testGps?.lat }}
            </p>
        </div>
    </div>
</div>
<p-toast></p-toast>