<h1>GESTION COOPERATIVES</h1>

<div class="grid">
    <div class="col-12">
        <!-- ⚠️ REMOVE THIS DIV WHEN COOP AUTH IS READY -->
        <div class="card p-fluid">
            <span class="pr-2 pb-1" style="border-radius: 2px; background-color: 'var(--yellow-100)';">
                <p-tag styleClass="mr-2" severity="warning" value="Warning"></p-tag>
                Cette page ne devra afficher qu'une seule Coop, cette liste disparaitra.
            </span>
            <h2>Liste des coopératives</h2>
            <p-dropdown 
                [options]="listCoops" optionLabel="name" optionValue="id"
                [(ngModel)]="coopId" 
                placeholder="Choisissez une coopérative" 
                [showClear]="false"
                (onChange)="getOneCoop(coopId)"
            >
            </p-dropdown>
        </div>
        
        <!-- ℹ️ Cooperative and Events Details -->
        <div *ngIf="selectedCoop" class="card">
            <div class="grid">
                <!-- ℹ️ Cooperative Details -->
                <div class="col-6" style="border-right: 1px solid var(--gray-300)">
                    <h2>Détail Coopérative</h2>
                    <div class="grid">
                        <div class="col-2">
                            <img src="{{ selectedCoop.logo }}" width="70%">
                        </div>
                        <div class="col">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Nom</th>
                                        <td>{{ selectedCoop.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Type</th>
                                        <td>{{ selectedCoop.coop_type.label }} ({{ selectedCoop.coop_type.id }})</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ selectedCoop.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Addresse</th>
                                        <td>
                                            <span *ngIf="selectedCoop.address.street_name">
                                                {{ selectedCoop.address.street_name }}
                                                <span *ngIf="selectedCoop.address.street_nb">, {{selectedCoop.address.street_nb }}</span>
                                                <br />
                                            </span>
                                            {{ selectedCoop.address.postal_code }} {{ selectedCoop.address.city }}
                                            <br />
                                            lon: {{ selectedCoop.gps.lon }} ; lat: {{ selectedCoop.gps.lat }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                            <div style="text-align: center">
                                <button pButton pRipple 
                                    label="Modifier"
                                    icon="pi pi-pencil"
                                    type="button" 
                                    class="p-button-outlined p-button-primary mr-2 mb-2" 
                                    (click)="showCoopUpdatePopup()"
                                ></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ℹ️ Coop's Events list -->
                <div *ngIf="coopEvents" class="col-6">
                    <h3>Evènements</h3>
                    <table>
                        <tbody>
                            <tr *ngFor="let event of coopEvents">
                                <th style="text-align: right">
                                    <em>{{ event.event_type.label }}</em>
                                <td>
                                    {{ event.name }}
                                </td>
                                <td>
                                    <span *ngIf="event.location != ''"> ({{ event.location }})</span>
                                    <span *ngIf="event.location == ''"> ({{ event.address.city }})</span>
                                </td>
                                <td>
                                    <button pButton pRipple 
                                        label=""
                                        icon="pi pi-info-circle"
                                        type="button" 
                                        class="p-button-outlined p-button-sm p-button-info mr-2 mb-2" 
                                        (click)="showEvent(event.id, false)"
                                    ></button>
                                </td>
                                <td>
                                    <button pButton pRipple 
                                        label=""
                                        icon="pi pi-pencil"
                                        type="button" 
                                        class="p-button-outlined p-button-sm p-button-primary mr-2 mb-2" 
                                        (click)="showEvent(event.id, true)"
                                    ></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update Coop Popup -->
<p-dialog 
    [(visible)]="updatePopupVisible" 
    [style]="{width: '600px'}" 
    header="Modification Coopérative" 
    [modal]="true"
>
    <app-coop-upd 
        [cooperative]="selectedCoop"
        (clickOnCoopUpdate)="updateCooperative($event)"
        (clickOnCoopCancel)="cancelCoopUpdate($event)"
    >
    </app-coop-upd>
</p-dialog>

<!-- View-Update Event Popup -->
<p-dialog 
    [(visible)]="ruEventPopupVisible" 
    [style]="{width: '800px'}" 
    header="Détail Evènement" 
    [modal]="true"
>
    <app-event-rupd 
        [event]="selectedEvent"
        [editMode]="ruEventPopupEditMode"
        (clickOnEventUpdate)="updateEvent($event)"
        (clickOnEventCancel)="cancelEventUpdate($event)"
        (clickOnEventClose)="closeEventView($event)"
    >
    </app-event-rupd>
</p-dialog>
