<h1>DEBUG INFOS</h1>

<div class="grid" style="width: 100%;">
    <div class="col-6">
        <h2>Types de Coopératives</h2>
        <ul>
            <li *ngFor="let coopType of coopTypes">
                {{ coopType.id }}: {{ coopType.label }}
            </li>
        </ul>
    </div>
    <div class="col-6">
        <h2>Types d'Evènements</h2>
        <ul>
            <li *ngFor="let eventType of eventTypes">
                {{ eventType.id }}: {{ eventType.label }}
            </li>
        </ul>
    </div>
</div>

<div class="grid" style="width: 100%;">
    <div class="col-6">
        <h2>Liste Coops</h2>
        <button (click)="getAllCoops()">Get Coops</button>
        <ul>
            <li *ngFor="let coop of cooperatives">
                {{ coop.name }}&nbsp;<button (click)="getOneCoop(coop.id)">Détails</button>
            </li>
        </ul>
    </div>
    <div class="col-6">
        <div *ngIf="selectedCoop != null && selectedCoop != undefined">
            <h2>Détail Coopérative</h2>
            <img src="{{ selectedCoop.logo }}" width="40px" height="40px">
            <table>
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ selectedCoop.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ selectedCoop.description }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ selectedCoop.coop_type.label }} ({{ selectedCoop.coop_type.id }})</td>
                    </tr>
                    <tr>
                        <th>Addresse</th>
                        <td>
                            <span *ngIf="selectedCoop.address.street_name">
                                {{ selectedCoop.address.street_name }}, {{selectedCoop.address.street_nb }}
                                <br />
                            </span>
                            {{ selectedCoop.address.postal_code }} {{ selectedCoop.address.city }}
                            <br />
                            lon: {{ selectedCoop.gps.lon }} ; lat: {{ selectedCoop.gps.lat }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />

<h2>Liste Evènements</h2>
<button (click)="getAllEvents()">Get Evènements</button>
<ul>
    <li *ngFor="let event of events">
        {{ event.id }}: {{ event.name }} - {{ event.event_type.label }}
    </li>
</ul>

<h2>TestGps</h2>
<button (click)="testGetGpsPos()">Test GPS</button>
<p>
    <b>Exemple:</b> Traverse des Muses, 1 5002 Namur
    <br />
    <b>Résultat souhaité:</b> lat: 50.4731373 ; lon: 4.8629776
</p>
<p 
    class="surface-800 text-orange-500" 
    style="font-family: monospace; padding: 5px; white-space: pre-line"
>
    {{ testGps | json }}
</p>
