<h1>HOME</h1>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <h2>Testing</h2>
            <button pButton pRipple 
            label="Test Board"
            type="button" 
            class="p-button-outlined p-button-primary mr-2 mb-2" routerLink="/test"
            ></button>
        </div>
        
        <div class="card">
            <h2>Coopératives</h2>
            <button pButton pRipple 
                label="Login as Coop"
                type="button" 
                disabled="true" 
                class="p-button-outlined p-button-secondary mr-2 mb-2" 
                routerLink="/"
                ></button>
                <button pButton pRipple 
                label="Register a new Coop"
                type="button" 
                disabled="true" 
                class="p-button-outlined p-button-secondary mr-2 mb-2" 
                routerLink="/"
            ></button>
        </div>
            
        <div class="card">
            <h2>Participants</h2>
            <button pButton pRipple 
                label="Login as User"
                type="button" 
                disabled="true" 
                class="p-button-outlined p-button-secondary mr-2 mb-2" 
                routerLink="/"
            ></button>
            <button pButton pRipple 
                label="Register a new User"
                type="button" 
                disabled="true" 
                class="p-button-outlined p-button-secondary mr-2 mb-2" 
                routerLink="/"
            ></button>
        </div>
    </div>
</div>
