<h1>Bienvenue sur Wallo-Coop !</h1>

<div class="grid">
    <div class="col-4">
        <img src="../../../../assets/projet/images/wallo-coop-icon.png">
    </div>
    <div class="col-1">
    </div>
    <div class="col">
        <div class="card">
            <h2>Coopératives</h2>
            <button pButton pRipple
                icon="pi pi-sign-in" 
                label="Connection (Coop)"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/coop-login"
            ></button>
            <br />
            <button pButton pRipple 
                icon="pi pi-plus-circle" 
                label="Créer une Coop"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/gest-coop/new"
            ></button>
            <button pButton pRipple 
                icon="pi pi-id-card" 
                label="Admin Coop"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/gest-coop"
            ></button>
        </div>

        <div class="card">
            <h2>Participants</h2>
            <button pButton pRipple 
            icon="pi pi-sign-in" 
            label="Connection (Participant)"
                type="button" 
                disabled="true" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/"
            ></button>
            <br />
            <button pButton pRipple 
                icon="pi pi-user-plus" 
                label="Création Participant"
                type="button" 
                disabled="true" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/"
            ></button>
            <button pButton pRipple 
                icon="pi pi-id-card" 
                label="Vue Participant"
                type="button" 
                disabled="true" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/"
            ></button>
        </div>
    </div>
</div>
