<h1>Bienvenue! Créez un compte Participant ici</h1>

<div class="grid">
    <div class="col-6">
        <div class="card p-fluid">
            <form [formGroup]="newUserForm">
                <div class="grid col-12 my-grid">
                    <div class="col-6 pl-0">
                        <label for="first_name">Prénom</label>
                        <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                            <span>P {{ formControls['first_name'].pristine ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>T {{ formControls['first_name'].touched ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>V {{ formControls['first_name'].valid ? '✔️': '❌' }}</span>
                        </label>
                        <input pInputText type="text" 
                            id="first_name" formControlName="first_name"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['first_name'].errors?.['minlength']" 
                        >
                            Le nom doit avoir au moins {{ formControls['first_name'].errors?.['minlength'].requiredLength }} caractères
                        </p>
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['first_name'].touched && formControls['first_name'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                    <div class="col-6 pl-0">
                        <label for="last_name">Nom de famille</label>
                        <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                            <span>P {{ formControls['last_name'].pristine ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>T {{ formControls['last_name'].touched ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>V {{ formControls['last_name'].valid ? '✔️': '❌' }}</span>
                        </label>
                        <input pInputText type="text" 
                            id="last_name" formControlName="last_name"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['last_name'].errors?.['minlength']" 
                        >
                            Le nom doit avoir au moins {{ formControls['last_name'].errors?.['minlength'].requiredLength }} caractères
                        </p>
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['last_name'].touched && formControls['last_name'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                </div>

                <div class="col-12">
                    <label for="email">Email de contact</label>
                    <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                        <span>P {{ formControls['email'].pristine ? '✔️': '❌' }}</span>
                        &nbsp;|&nbsp;
                        <span>T {{ formControls['email'].touched ? '✔️': '❌' }}</span>
                        &nbsp;|&nbsp;
                        <span>V {{ formControls['email'].valid ? '✔️': '❌' }}</span>
                    </label>
                    <input pInputText type="email" 
                        id="email" formControlName="email"
                    >
                    <p 
                        class="text-red-500"
                        *ngIf="formControls['email'].errors?.['email']" 
                    >
                        Le format de l'email n'est pas valide
                    </p>
                    <p 
                        class="text-red-500"
                        *ngIf="formControls['email'].errors?.['EmailUnicityValidator']" 
                    >
                        {{ formControls['email'].errors?.['EmailUnicityValidator'] }}
                    </p>
                    <p 
                        class="text-red-500"
                        *ngIf="formControls['email'].touched && formControls['email'].errors?.['required']" 
                    >
                        Ce champ est requis
                    </p>
                </div>
                <div class="grid col-12 my-grid">
                    <div class="col-6 pl-0">
                        <label for="password">Mot de passe</label>
                        <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                            <span>P {{ formControls['password'].pristine ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>T {{ formControls['password'].touched ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>V {{ formControls['password'].valid ? '✔️': '❌' }}</span>
                        </label>
                        <input type="password" pPassword
                            id="password" formControlName="password"
                            [ngClass]="newUserForm.errors?.['MatchPasswordValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['password'].touched && formControls['password'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                    <div class="col-6 pr-0">
                        <label for="password_confirm">Confirmez votre mot de passe</label>
                        <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                            <span>P {{ formControls['password_confirm'].pristine ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>T {{ formControls['password_confirm'].touched ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>V {{ formControls['password_confirm'].valid ? '✔️': '❌' }}</span>
                        </label>
                        <input type="password" pPassword
                            id="password_confirm" formControlName="password_confirm"
                            [ngClass]="newUserForm.errors?.['MatchPasswordValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['password_confirm'].touched && formControls['password_confirm'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                    <div *ngIf="newUserForm.errors?.['MatchPasswordValidator']" class="col-12 pt-0">
                        <p 
                            class="text-red-500"
                            style="text-align: center;"
                            >
                            {{ newUserForm.errors?.['MatchPasswordValidator'] }}
                        </p>
                    </div>
                </div>
                <div class="col-12">
                        <label for="birth_date">Date de naissance</label>
                        <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                            <span>P {{ formControls['birth_date'].pristine ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>T {{ formControls['birth_date'].touched ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>V {{ formControls['birth_date'].valid ? '✔️': '❌' }}</span>
                        </label>
                        <p-calendar 
                            id="birth_date" formControlName="birth_date"
                            [showTime]="true" hourFormat="24"
                            [ngClass]="newUserForm.errors?.['StartEndDateValidator'] ? 'ng-invalid ng-dirty' : ''"
                        ></p-calendar>
                    <p 
                        class="text-red-500"
                        *ngIf="formControls['birth_date'].touched && formControls['birth_date'].errors?.['required']" 
                    >
                        Ce champ est requis
                    </p>
                </div>
                <div class="grid col-12 my-grid">
                    <div class="col-4 pl-0">
                        <label for="addr_postal_code">Code Postal</label>
                        <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                            <span>P {{ formControls['addr_postal_code'].pristine ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>T {{ formControls['addr_postal_code'].touched ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>V {{ formControls['addr_postal_code'].valid ? '✔️': '❌' }}</span>
                        </label>
                        <input pInputText type="text"
                            id="addr_postal_code" formControlName="addr_postal_code"
                            [ngClass]="newUserForm.errors?.['NominatimValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['addr_postal_code'].errors?.['pattern']" 
                        >
                            Un code postal est composé de 4 chiffres uniquement.
                        </p>
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['addr_postal_code'].touched && formControls['addr_postal_code'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                    <div class="col pr-0">
                        <label for="addr_city">Ville / Village</label>
                        <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                            <span>P {{ formControls['addr_city'].pristine ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>T {{ formControls['addr_city'].touched ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>V {{ formControls['addr_city'].valid ? '✔️': '❌' }}</span>
                        </label>
                        <input pInputText type="text"
                            id="addr_city" formControlName="addr_city"
                            [ngClass]="newUserForm.errors?.['NominatimValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['addr_city'].touched && formControls['addr_city'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                </div>
                <div class="grid col-12 my-grid">
                    <div class="col-10 pl-0">
                        <label for="addr_street_name">Nom de Rue</label>
                        <input pInputText type="text"
                            id="addr_street_name" formControlName="addr_street_name"
                            [ngClass]="newUserForm.errors?.['NominatimValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                    </div>
                    <div class="col pr-0">
                        <label for="addr_street_nb">N° de Rue</label>
                        <input pInputText type="text" 
                            id="addr_street_nb" formControlName="addr_street_nb"
                            [ngClass]="newUserForm.errors?.['NominatimValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                    </div>
                    <div *ngIf="newUserForm.errors?.['NominatimValidator']" class="col-12 pt-0">
                        <p 
                            class="text-red-500"
                            style="text-align: center;"
                        >
                            {{ newUserForm.errors?.['NominatimValidator'] }}
                        </p>
                    </div>
                </div>
            </form>
            <br />
            <!-- ℹ️ FOOTER -->
            <div class="grid ml-0 mr-0">
                <div class="col-6 mb-2">
                    <button pButton pRipple 
                    [disabled]="!newUserForm.valid"
                    label="Enregistrer"
                    icon="pi pi-save"
                    type="button" 
                    class="p-button-outlined p-button-success mr-2 mb-2"
                    (click)="saveUser()"
                    ></button>
                </div>
                <div class="col-6 mb-2">
                    <button pButton pRipple 
                        label="Annuler"
                        icon="pi pi-times-circle"
                        type="button" 
                        class="p-button-outlined p-button-danger mr-2 mb-2" 
                        (click)="cancelUserCreation()"
                    ></button>
                </div>
            </div>
            <div class="grid ml-0 mr-0">
                <div class="col-12 mb-2">
                    <button pButton pRipple 
                    label="Test"
                    icon="pi pi-cog"
                    type="button" 
                    class="p-button-outlined p-button-warning mr-2 mb-2"
                    (click)="testForm()"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
