table.events-list {
    border-collapse: collapse;
}
table.events-list td, 
table.events-list th {
    padding: 1rem 1rem;
    border: 1px solid #dee2e6;
}

table.events-list th {
    background: #f8f9fa;
}