<div *ngIf="coopId != 0 || event" class="grid p-fluid">
    <div class="col-12">
        <!-- ℹ️ FORM -->
        <div class="card">
            <div class="grid">
                <form [formGroup]="cruEventForm">
                    <div class="col-12">
                        <label for="name">Titre de l'évènement</label>
                        <input pInputText type="text" 
                            id="name" formControlName="name"
                            [class.p-disabled]="formMode == 1"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['name'].errors?.['minlength']" 
                        >
                            Le nom doit avoir au moins {{ formControls['name'].errors?.['minlength'].requiredLength }} caractères
                        </p>
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['name'].touched && formControls['name'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                    <div class="col-12">
                        <div *ngIf="formMode != 1">
                            <label for="event_typeId">Choisissez un type d'évènement</label>
                            <p-dropdown 
                                id="event_typeId" formControlName="event_typeId"
                                [options]="eventTypes" optionLabel="label" optionValue="id"
                                placeholder="&nbsp;"
                                [showClear]="false"
                            ></p-dropdown>
                        </div>
                        <div *ngIf="formMode == 1">
                            <label for="event_type">Type d'évènement</label>
                            <input pInputText type="text" 
                                id="event_type"
                                value="{{ eventType.label }}"
                                class="p-disabled"
                            >
                        </div>
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['event_typeId'].touched && formControls['event_typeId'].errors?.['required']" 
                        >
                        Ce champ est requis
                        </p>
                    </div>

                    <div class="col-12">
                        <label for="Description">Description</label>
                        <textarea pInputTextarea type="text" 
                            id="description" formControlName="description"
                            [class.p-disabled]="formMode == 1"
                        ></textarea>
                    </div>
                    <div class="col-12">
                        <label for="location">Lieu</label>
                        <input pInputText type="text" 
                            id="location" formControlName="location"
                            [class.p-disabled]="formMode == 1"
                        >
                    </div>
                    <div class="grid col-12 my-grid">
                        <div class="col-4 pl-0">
                            <label for="addr_postal_code">Code Postal</label>
                            <input pInputText type="text"
                                id="addr_postal_code" formControlName="addr_postal_code"
                                [class.p-disabled]="formMode == 1"
                                [class.ng-invalid]="cruEventForm.errors?.['NominatimValidator']"
                                [class.ng-dirty]="cruEventForm.errors?.['NominatimValidator']"
                            >
                            <p 
                                class="text-red-500"
                                *ngIf="formControls['addr_postal_code'].errors?.['pattern']" 
                            >
                                Un code postal est composé de 4 chiffres uniquement.
                            </p>
                            <p 
                                class="text-red-500"
                                *ngIf="formControls['addr_postal_code'].touched && formControls['addr_postal_code'].errors?.['required']" 
                            >
                                Ce champ est requis
                            </p>
                        </div>
                        <div class="col pr-0">
                            <label for="addr_city">Ville / Village</label>
                            <input pInputText type="text"
                                id="addr_city" formControlName="addr_city"
                                [class.p-disabled]="formMode == 1"
                                [class.ng-invalid]="cruEventForm.errors?.['NominatimValidator']"
                                [class.ng-dirty]="cruEventForm.errors?.['NominatimValidator']"
                            >
                            <p 
                                class="text-red-500"
                                *ngIf="formControls['addr_city'].touched && formControls['addr_city'].errors?.['required']" 
                            >
                                Ce champ est requis
                            </p>
                        </div>
                    </div>

                    <div class="grid col-12 my-grid">
                        <div class="col-10 pl-0">
                            <label for="addr_street_name">Nom de Rue</label>
                            <input pInputText type="text"
                                id="addr_street_name" formControlName="addr_street_name"
                                [class.p-disabled]="formMode == 1"
                                [class.ng-invalid]="cruEventForm.errors?.['NominatimValidator']"
                                [class.ng-dirty]="cruEventForm.errors?.['NominatimValidator']"
                            >
                        </div>
                        <div class="col pr-0">
                            <label for="addr_street_nb">N° de Rue</label>
                            <input pInputText type="text" 
                                id="addr_street_nb" formControlName="addr_street_nb"
                                [class.p-disabled]="formMode == 1"
                                [class.ng-invalid]="cruEventForm.errors?.['NominatimValidator']"
                                [class.ng-dirty]="cruEventForm.errors?.['NominatimValidator']"
                            >
                        </div>
                        <div *ngIf="cruEventForm.errors?.['NominatimValidator']" class="col-12 pt-0">
                            <p 
                                class="text-red-500"
                                style="text-align: center;"
                            >
                                {{ cruEventForm.errors?.['NominatimValidator'] }}
                            </p>
                        </div>
                    </div>
                    <div class="grid col-12 my-grid">
                        <div class="col-6 pl-0">
                            <div *ngIf="formMode != 1">
                                <label for="datetime_start">Début</label>
                                <p-calendar 
                                    id="datetime_start" formControlName="datetime_start"
                                    [showTime]="true" hourFormat="24"
                                    [ngClass]="cruEventForm.errors?.['StartEndDateValidator'] ? 'ng-invalid ng-dirty' : ''"
                                ></p-calendar>
                            </div>
                            <div *ngIf="formMode == 1">
                                <label for="datetime_start">Début</label>
                                <input pInputText type="text" 
                                    id="datetime_start"
                                    value="{{ event?.datetime_start | date: 'dd MMM yyyy H:mm' }}"
                                    class="p-disabled"
                                >
                            </div>
                            <p 
                                class="text-red-500"
                                *ngIf="formControls['datetime_start'].touched && formControls['datetime_start'].errors?.['required']" 
                            >
                                Ce champ est requis
                            </p>
                        </div>
                        <div class="col-6 pr-0">
                            <div *ngIf="formMode != 1">
                                <label for="datetime_end">Fin</label>
                                <p-calendar 
                                    id="datetime_end" formControlName="datetime_end"
                                    [showTime]="true" hourFormat="24"
                                    [ngClass]="cruEventForm.errors?.['StartEndDateValidator'] ? 'ng-invalid ng-dirty' : ''"
                                ></p-calendar>
                            </div>
                            <div *ngIf="formMode == 1">
                                <label for="datetime_end">Fin</label>
                                <input pInputText type="text" 
                                    id="datetime_end"
                                    value="{{ event?.datetime_end | date: 'dd MMM yyyy H:mm' }}"
                                    class="p-disabled"
                                >
                            </div>
                            <p 
                                class="text-red-500"
                                *ngIf="formControls['datetime_end'].touched && formControls['datetime_end'].errors?.['required']" 
                            >
                                Ce champ est requis
                            </p>
                        </div>
                        <div *ngIf="cruEventForm.errors?.['StartEndDateValidator']" class="col-12 pt-0">
                            <p 
                                class="text-red-500"
                                style="text-align: center;"
                            >
                                {{ cruEventForm.errors?.['StartEndDateValidator'] }}
                            </p>
                        </div>
                    </div>
                    <div class="grid col-12 my-grid">
                        <div class="col-6 pl-0">
                            <div *ngIf="formMode != 1">
                                <label for="nb_people_min">Nb minimum de participants</label>
                                <p-inputNumber 
                                    id="nb_people_min" formControlName="nb_people_min"
                                    inputId="integeronly"
                                    [ngClass]="cruEventForm.errors?.['MinMaxValidator'] ? 'ng-invalid ng-dirty' : ''"
                                ></p-inputNumber>
                            </div>
                            <div *ngIf="formMode == 1">
                                <label for="nb_people_min">Nb minimum de participants</label>
                                <input pInputText type="text" 
                                    id="nb_people_min"
                                    value="{{ event?.nb_people_min }}"
                                    class="p-disabled"
                                >
                            </div>
                            <p 
                                class="text-red-500"
                                *ngIf="formControls['nb_people_min'].touched && formControls['nb_people_min'].errors?.['required']" 
                            >
                                Ce champ est requis
                            </p>
                            <p 
                                class="text-red-500"
                                *ngIf="formControls['nb_people_min'].errors?.['pattern']" 
                            >
                                Entrez un nombre de 1 à 4 chiffres.
                            </p>
                        </div>
                        <div class="col-6 pr-0">
                            <div *ngIf="formMode != 1">
                                <label for="nb_people_max">Nb maximum de participants</label>
                                <p-inputNumber 
                                    id="nb_people_max" formControlName="nb_people_max"
                                    inputId="integeronly"
                                    [ngClass]="cruEventForm.errors?.['MinMaxValidator'] ? 'ng-invalid ng-dirty' : ''"
                                ></p-inputNumber>
                            </div>
                            <span *ngIf="formMode == 1">
                                <label for="nb_people_max">Nb maximum de participants</label>
                                <input pInputText type="text" 
                                    id="nb_people_max"
                                    value="{{ event?.nb_people_max }}"
                                    class="p-disabled"
                                >
                            </span>
                            <p 
                                class="text-red-500"
                                *ngIf="formControls['nb_people_max'].touched && formControls['nb_people_max'].errors?.['required']" 
                            >
                            Ce champ est requis
                            </p>
                            <p 
                                class="text-red-500"
                                *ngIf="formControls['nb_people_max'].errors?.['pattern']" 
                            >
                                Entrez un nombre de 1 à 4 chiffres.
                            </p>
                        </div>
                        <div *ngIf="cruEventForm.errors?.['MinMaxValidator']" class="col-12 pt-0">
                            <p 
                                class="text-red-500 mb-2"
                                style="text-align: center;"
                            >
                                {{ cruEventForm.errors?.['MinMaxValidator'] }}
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- ℹ️ FOOTER -->
        <div style="text-align: right;">
            <div *ngIf="formMode == 1" class="grid ml-0 mr-0">
                <div class="col-6 mb-2">
                </div>
                <div class="col-6 mb-2">
                    <button pButton pRipple 
                        label="Close"
                        icon="pi pi-times-circle"
                        type="button" 
                        class="p-button-outlined p-button-danger mr-2 mb-2" 
                        (click)="closePopup()"
                    ></button>
                </div>
            </div>
            <div *ngIf="formMode != 1" class="grid ml-0 mr-0">
                <div class="col-6 mb-2">
                    <button pButton pRipple 
                        *ngIf="formMode == 2" 
                        [disabled]="!cruEventForm.valid"
                        label="Enregistrer Modifications"
                        icon="pi pi-save"
                        type="button" 
                        class="p-button-outlined p-button-success mr-2 mb-2"
                        (click)="saveModifications()"
                    ></button>
                    <button pButton pRipple 
                        *ngIf="formMode == 3" 
                        [disabled]="!cruEventForm.valid"
                        label="Enregistrer"
                        icon="pi pi-save"
                        type="button" 
                        class="p-button-outlined p-button-success mr-2 mb-2"
                        (click)="saveNewEvent()"
                    ></button>
                </div>
                <div class="col-6 mb-2">
                    <button pButton pRipple 
                        label="Annuler"
                        icon="pi pi-times-circle"
                        type="button" 
                        class="p-button-outlined p-button-danger mr-2 mb-2" 
                        (click)="cancelModifications()"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
