<div *ngIf="event" class="grid p-fluid">
    <div class="col-12">
        <!-- ℹ️ FORM -->
        <div class="card">
            <form [formGroup]="ruEventForm">
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                        <input pInputText type="text" 
                            id="name" formControlName="name"
                            placeholder="Nom de la Coopérative" 
                            [class.p-disabled]="formMode == 1"
                        >
                        <br />
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['name'].errors?.['minlength']" 
                        >
                            Le nom doit avoir au moins {{ formControls['name'].errors?.['minlength'].requiredLength }} caractères
                        </p>
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['name'].touched && formControls['name'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                        <p-dropdown 
                            id="event_typeId" formControlName="event_typeId"
                            *ngIf="formMode != 1"
                            [options]="eventTypes" optionLabel="label" optionValue="id"
                            placeholder="Choisissez un type d'évènement" 
                            [showClear]="false"
                        >
                        </p-dropdown>
                        <input pInputText type="text" 
                            *ngIf="formMode == 1"
                            id="event_type"
                            placeholder="Type d'évènement" 
                            value="{{ eventType.label }}"
                            class="p-disabled"
                        >
                        <p 
                        class="text-red-500"
                        *ngIf="formControls['event_typeId'].touched && formControls['event_typeId'].errors?.['required']" 
                        >
                          Ce champ est requis
                        </p>
                    </div>
                </div>
                <br />

                <div class="grid formgrid">
                    <div class="col-12 mb-2">
                        <textarea pInputTextarea type="text" 
                            id="description" formControlName="description"
                            placeholder="Description" 
                            [class.p-disabled]="formMode == 1"
                        ></textarea>
                    </div>
                </div>
                <br />
                <div class="grid formgrid">
                    <div class="col-12 mb-2">
                        <input pInputText type="text" 
                            id="location" formControlName="location"
                            placeholder="Lieu" 
                            [class.p-disabled]="formMode == 1"
                        >
                    </div>
                </div>
                <br />
                
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                        <input pInputText type="text"
                            id="addr_postal_code" formControlName="addr_postal_code"
                            placeholder="Code Postal" 
                            [class.p-disabled]="formMode == 1"
                            [class.ng-invalid]="ruEventForm.errors?.['NominatimValidator']"
                            [class.ng-dirty]="ruEventForm.errors?.['NominatimValidator']"
                        >
                        <br />
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['addr_postal_code'].errors?.['pattern']" 
                        >
                            Un code postal est composé de 4 chiffres uniquement.
                        </p>
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['addr_postal_code'].touched && formControls['addr_postal_code'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                        <input pInputText type="text"
                            id="addr_city" formControlName="addr_city"
                            placeholder="Ville / Village" 
                            [class.p-disabled]="formMode == 1"
                            [class.ng-invalid]="ruEventForm.errors?.['NominatimValidator']"
                            [class.ng-dirty]="ruEventForm.errors?.['NominatimValidator']"
                        >
                        <br />
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['addr_city'].touched && formControls['addr_city'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                </div>
                <br />
                
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                        <input pInputText type="text"
                            id="addr_street_name" formControlName="addr_street_name"
                            placeholder="Nom de Rue"
                            [class.p-disabled]="formMode == 1"
                            [class.ng-invalid]="ruEventForm.errors?.['NominatimValidator']"
                            [class.ng-dirty]="ruEventForm.errors?.['NominatimValidator']"
                        >
                        <br />
                    </div>
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                        <input pInputText type="text" 
                            id="addr_street_nb" formControlName="addr_street_nb"
                            placeholder="N° de Rue" 
                            [class.p-disabled]="formMode == 1"
                            [class.ng-invalid]="ruEventForm.errors?.['NominatimValidator']"
                            [class.ng-dirty]="ruEventForm.errors?.['NominatimValidator']"
                        >
                        <br />
                    </div>
                </div>
                <p 
                    class="text-red-500 mt-2"
                    style="text-align: center;"
                    *ngIf="ruEventForm.errors?.['NominatimValidator']" 
                >
                    {{ ruEventForm.errors?.['NominatimValidator'] }}
                </p>
                <br />
                
                <div class="grid formgrid">
                    <div class="col-6 mb-2">
                        <p-calendar 
                            id="datetime_start" formControlName="datetime_start"
                            *ngIf="formMode != 1"
                            placeholder="Date évènement" 
                            [showTime]="true" hourFormat="24"
                            [ngClass]="ruEventForm.errors?.['StartEndDateValidator'] ? 'ng-invalid ng-dirty' : ''"
                        ></p-calendar>
                        <input pInputText type="text" 
                            *ngIf="formMode == 1"
                            id="datetime_start"
                            placeholder="Date" 
                            value="{{ event.datetime_start | date: 'dd MMM yyyy H:mm' }}"
                            class="p-disabled"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['datetime_start'].touched && formControls['datetime_start'].errors?.['required']" 
                        >
                          Ce champ est requis
                        </p>
                    </div>
                    <div class="col-6 mb-2">
                        <p-calendar 
                            id="datetime_end" formControlName="datetime_end"
                            *ngIf="formMode != 1"
                            placeholder="Date évènement" 
                            [showTime]="true" hourFormat="24"
                            [ngClass]="ruEventForm.errors?.['StartEndDateValidator'] ? 'ng-invalid ng-dirty' : ''"
                        ></p-calendar>
                        <input pInputText type="text" 
                            *ngIf="formMode == 1"
                            id="datetime_end"
                            placeholder="Date" 
                            value="{{ event.datetime_end | date: 'dd MMM yyyy H:mm' }}"
                            class="p-disabled"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['datetime_end'].touched && formControls['datetime_end'].errors?.['required']" 
                        >
                          Ce champ est requis
                        </p>
                    </div>
                </div>
                <p 
                    class="text-red-500 mt-2"
                    style="text-align: center;"
                    *ngIf="ruEventForm.errors?.['StartEndDateValidator']" 
                >
                    {{ ruEventForm.errors?.['StartEndDateValidator'] }}
                </p>
                <br />
                
                <div class="grid formgrid">
                    <div class="col-6 mb-2">
                        <p-inputNumber 
                            id="nb_people_min" formControlName="nb_people_min"
                            *ngIf="formMode != 1"
                            inputId="integeronly"
                            placeholder="Nb minimum de participants" 
                            [ngClass]="ruEventForm.errors?.['MinMaxValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                        </p-inputNumber>
                        <input pInputText type="text" 
                            *ngIf="formMode == 1"
                            id="nb_people_min"
                            placeholder="Nb minimum de participants" 
                            value="{{ event.nb_people_min }}"
                            class="p-disabled"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['nb_people_min'].touched && formControls['nb_people_min'].errors?.['required']" 
                        >
                          Ce champ est requis
                        </p>
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['nb_people_min'].errors?.['pattern']" 
                        >
                            Entrez un nombre de 1 à 4 chiffres.
                        </p>
                    </div>
                    <div class="col-6 mb-2">
                        <p-inputNumber 
                            id="nb_people_max" formControlName="nb_people_max"
                            *ngIf="formMode != 1"
                            inputId="integeronly"
                            placeholder="Nb minimum de participants" 
                            [ngClass]="ruEventForm.errors?.['MinMaxValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                        </p-inputNumber>
                        <input pInputText type="text" 
                            *ngIf="formMode == 1"
                            id="nb_people_max"
                            placeholder="Nb minimum de participants" 
                            value="{{ event.nb_people_max }}"
                            class="p-disabled"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['nb_people_max'].touched && formControls['nb_people_max'].errors?.['required']" 
                        >
                          Ce champ est requis
                        </p>
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['nb_people_max'].errors?.['pattern']" 
                        >
                            Entrez un nombre de 1 à 4 chiffres.
                        </p>
                    </div>
                </div>
                <p 
                    class="text-red-500 mt-2"
                    style="text-align: center;"
                    *ngIf="ruEventForm.errors?.['MinMaxValidator']" 
                >
                    {{ ruEventForm.errors?.['MinMaxValidator'] }}
                </p>
            </form>
        </div>

        <!-- ℹ️ FOOTER -->
        <div class="gc-popup-footer">
            <div *ngIf="formMode == 1" class="grid formgrid">
                <div class="col-6 mb-2">
                </div>
                <div class="col-6 mb-2">
                    <button pButton pRipple 
                        label="Close"
                        icon="pi pi-times-circle"
                        type="button" 
                        class="p-button-outlined p-button-danger mr-2 mb-2" 
                        (click)="closePopup()"
                    ></button>
                </div>
            </div>
            <div *ngIf="formMode != 1" class="grid formgrid">
                <div class="col-6 mb-2">
                    <button pButton pRipple 
                        *ngIf="formMode == 2" 
                        label="Enregistrer Modifications"
                        icon="pi pi-save"
                        type="button" 
                        class="p-button-outlined p-button-success mr-2 mb-2"
                        (click)="saveModifications()"
                    ></button>
                    <button pButton pRipple 
                        *ngIf="formMode == 3" 
                        label="Enregistrer"
                        icon="pi pi-save"
                        type="button" 
                        class="p-button-outlined p-button-success mr-2 mb-2"
                        (click)="saveModifications()"
                    ></button>
                </div>
                <div class="col-6 mb-2">
                    <button pButton pRipple 
                        label="Annuler"
                        icon="pi pi-times-circle"
                        type="button" 
                        class="p-button-outlined p-button-danger mr-2 mb-2" 
                        (click)="cancelModifications()"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
