<div class="layout-footer">
    <div class="grid" style="width: 100%;">
        <div class="col-2" style="text-align: left;">
            <img 
                class="vertical-align-middle" 
                src="../../assets/app/images/technobel-logo.png" 
                width="40" height="40"
            >
            <span>&nbsp;Labo Front End</span>
        </div>
        <div class="col-8 vertical-align-middle" style="text-align: center;">
            <p>⚠️ Ce projet est un exercice. Les données utilisées, bien qu'inspirées d'entités réelles, sont factices. ⚠️</p>
        </div>
        <div class="col-2 vertical-align-middle" style="text-align: right;">
            <em>Thomas Rossi</em>
        </div>
    </div>
</div>


<!-- // Sakai demo artifact
    <div class="layout-footer">
    <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Logo" height="20" class="mr-2"/>
    by
    <span class="font-medium ml-2">PrimeNG</span>
</div>
-->