<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/">
        <img src="../../assets/projet/images/wallo-coop-icon.png" alt="logo">
        <span>Wallo Coop</span>
    </a>

    <!--
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    -->
    <!--
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
    </div>
    -->

    <div #topbarmenu class="layout-topbar-menu" >
        <div *ngIf="!coopIsConnected && !userIsConnected">
            Connectez-vous:&nbsp;
            <a routerLink="/coop-login" class="my-top-right-button">
                <i class="pi pi-sign-in"></i>&nbsp;Coopérative
            </a>
            &nbsp;&nbsp;
            <a routerLink="/user-login" class="my-top-right-button">
                <i class="pi pi-sign-in"></i>&nbsp;Participant
            </a>
        </div>
        <div *ngIf="coopIsConnected">
            <i class="pi pi-thumbs-up-fill"></i>
            <span>&nbsp;Coopérative connectée</span>
        </div>
        <div *ngIf="userIsConnected">
            <i class="pi pi-thumbs-up-fill"></i>
            <span>&nbsp;Participant connecté</span>
        </div>
    </div>
</div>


<!-- // Sakai demo artifact
<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/sakai">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>SAKAI</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/sakai/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div>
</div>
-->