<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/">
        <img src="../../assets/app/images/wallo-coop-icon.png" alt="logo">
        <span>Wallo Coop</span>
    </a>

    <div #topbarmenu class="layout-topbar-menu" >
        <div *ngIf="!coopIsConnected && !userIsConnected">
            Connectez-vous:&nbsp;
            <a routerLink="/login/coop" class="my-top-right-button">
                <i class="pi pi-sign-in"></i>&nbsp;Coopérative
            </a>
            &nbsp;&nbsp;
            <a routerLink="/login/user" class="my-top-right-button">
                <i class="pi pi-sign-in"></i>&nbsp;Participant
            </a>
        </div>
        <div *ngIf="coopIsConnected">
            <a (click)="coopLogout()" class="my-top-right-button my-red">
                <i class="pi pi-sign-out"></i>&nbsp;Déconnection
            </a>
            <!--
                <i class="pi pi-thumbs-up-fill"></i>
                <span>&nbsp;Coopérative connectée</span>
            -->
        </div>
        <div *ngIf="userIsConnected">
            <a (click)="userLogout()" class="my-top-right-button my-red">
                <i class="pi pi-sign-out"></i>&nbsp;Déconnection
            </a>
            <!--
                <i class="pi pi-thumbs-up-fill"></i>
                <span>&nbsp;Participant connecté</span>
            -->
        </div>
    </div>
</div>
