<h1>Bienvenue! Créez un compte Coopérative ici</h1>

<div class="grid">
    <div class="col-6">
        <div class="card p-fluid">
            <form [formGroup]="newCoopForm">
                <div class="col-12">
                    <label for="name">Nom de la Coopérative</label>
                    <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                        <span>P {{ formControls['name'].pristine ? '✔️': '❌' }}</span>
                        &nbsp;|&nbsp;
                        <span>T {{ formControls['name'].touched ? '✔️': '❌' }}</span>
                        &nbsp;|&nbsp;
                        <span>V {{ formControls['name'].valid ? '✔️': '❌' }}</span>
                    </label>
                    <input pInputText type="text" 
                        id="name" formControlName="name"
                    >
                    <p 
                        class="text-red-500"
                        *ngIf="formControls['name'].errors?.['minlength']" 
                    >
                        Le nom doit avoir au moins {{ formControls['name'].errors?.['minlength'].requiredLength }} caractères
                    </p>
                    <p 
                        class="text-red-500"
                        *ngIf="formControls['name'].touched && formControls['name'].errors?.['required']" 
                    >
                        Ce champ est requis
                    </p>
                </div>
                <div class="col-12">
                    <label for="email">Email de contact</label>
                    <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                        <span>P {{ formControls['email'].pristine ? '✔️': '❌' }}</span>
                        &nbsp;|&nbsp;
                        <span>T {{ formControls['email'].touched ? '✔️': '❌' }}</span>
                        &nbsp;|&nbsp;
                        <span>V {{ formControls['email'].valid ? '✔️': '❌' }}</span>
                    </label>
                    <input pInputText type="email" 
                        id="email" formControlName="email"
                    >
                    <p 
                        class="text-red-500"
                        *ngIf="formControls['email'].errors?.['email']" 
                    >
                        Le format de l'email n'est pas valide
                    </p>
                    <p 
                        class="text-red-500"
                        *ngIf="formControls['email'].touched && formControls['email'].errors?.['required']" 
                    >
                        Ce champ est requis
                    </p>
                </div>

                <div class="grid col-12 my-grid">
                    <div class="col-6 pl-0">
                        <label for="password">Mot de passe</label>
                        <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                            <span>P {{ formControls['password'].pristine ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>T {{ formControls['password'].touched ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>V {{ formControls['password'].valid ? '✔️': '❌' }}</span>
                        </label>
                        <input type="password" pPassword
                            id="password" formControlName="password"
                            [ngClass]="newCoopForm.errors?.['MatchPasswordValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['password'].touched && formControls['password'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                    <div class="col-6 pr-0">
                        <label for="password_confirm">Confirmez votre mot de passe</label>
                        <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                            <span>P {{ formControls['password_confirm'].pristine ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>T {{ formControls['password_confirm'].touched ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>V {{ formControls['password_confirm'].valid ? '✔️': '❌' }}</span>
                        </label>
                        <input type="password" pPassword
                            id="password_confirm" formControlName="password_confirm"
                            [ngClass]="newCoopForm.errors?.['MatchPasswordValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['password_confirm'].touched && formControls['password_confirm'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                    <div *ngIf="newCoopForm.errors?.['MatchPasswordValidator']" class="col-12 pt-0">
                        <p 
                            class="text-red-500"
                            style="text-align: center;"
                            >
                            {{ newCoopForm.errors?.['MatchPasswordValidator'] }}
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <label for="coop_typeId">Choisissez un type de coopérative</label>
                    <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                        <span>P {{ formControls['coop_typeId'].pristine ? '✔️': '❌' }}</span>
                        &nbsp;|&nbsp;
                        <span>T {{ formControls['coop_typeId'].touched ? '✔️': '❌' }}</span>
                        &nbsp;|&nbsp;
                        <span>V {{ formControls['coop_typeId'].valid ? '✔️': '❌' }}</span>
                    </label>
                    <p-dropdown 
                        id="coop_typeId" formControlName="coop_typeId"
                        [options]="coopTypes" optionLabel="label" optionValue="id"
                        placeholder="&nbsp;"
                        [showClear]="false"
                    >
                    </p-dropdown>
                    <p 
                        class="text-red-500"
                        *ngIf="formControls['coop_typeId'].touched && formControls['coop_typeId'].errors?.['required']" 
                    >
                        Ce champ est requis
                    </p>
                </div>
                <div class="col-12">
                    <label for="description">Description</label>
                    <textarea pInputTextarea type="text" 
                        id="description" formControlName="description"
                    ></textarea>
                </div>

                <div class="grid col-12 my-grid">
                    <div class="col-4 pl-0">
                        <label for="addr_postal_code">Code Postal</label>
                        <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                            <span>P {{ formControls['addr_postal_code'].pristine ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>T {{ formControls['addr_postal_code'].touched ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>V {{ formControls['addr_postal_code'].valid ? '✔️': '❌' }}</span>
                        </label>
                        <input pInputText type="text"
                            id="addr_postal_code" formControlName="addr_postal_code"
                            [ngClass]="newCoopForm.errors?.['NominatimValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['addr_postal_code'].errors?.['pattern']" 
                        >
                            Un code postal est composé de 4 chiffres uniquement.
                        </p>
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['addr_postal_code'].touched && formControls['addr_postal_code'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                    <div class="col pr-0">
                        <label for="addr_city">Ville / Village</label>
                        <br /><label class="bg-gray-800 text-purple-200 pl-1 pr-1">
                            <span>P {{ formControls['addr_city'].pristine ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>T {{ formControls['addr_city'].touched ? '✔️': '❌' }}</span>
                            &nbsp;|&nbsp;
                            <span>V {{ formControls['addr_city'].valid ? '✔️': '❌' }}</span>
                        </label>
                        <input pInputText type="text"
                            id="addr_city" formControlName="addr_city"
                            [ngClass]="newCoopForm.errors?.['NominatimValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                        <p 
                            class="text-red-500"
                            *ngIf="formControls['addr_city'].touched && formControls['addr_city'].errors?.['required']" 
                        >
                            Ce champ est requis
                        </p>
                    </div>
                </div>
                <div class="grid col-12 my-grid">
                    <div class="col-10 pl-0">
                        <label for="addr_street_name">Nom de Rue</label>
                        <input pInputText type="text"
                            id="addr_street_name" formControlName="addr_street_name"
                            [ngClass]="newCoopForm.errors?.['NominatimValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                    </div>
                    <div class="col pr-0">
                        <label for="addr_street_nb">N° de Rue</label>
                        <input pInputText type="text" 
                            id="addr_street_nb" formControlName="addr_street_nb"
                            [ngClass]="newCoopForm.errors?.['NominatimValidator'] ? 'ng-invalid ng-dirty' : ''"
                        >
                    </div>
                    <div *ngIf="newCoopForm.errors?.['NominatimValidator']" class="col-12 pt-0">
                        <p 
                            class="text-red-500"
                            style="text-align: center;"
                        >
                            {{ newCoopForm.errors?.['NominatimValidator'] }}
                        </p>
                    </div>
                </div>

                <div class="col-12">
                    <label for="logo">Logo (lien vers image)</label>
                    <input pInputText type="text" 
                        id="logo" 
                        formControlName="logo"
                    >
                </div>
            </form>
            <br />
            <!-- ℹ️ FOOTER -->
            <div class="grid ml-0 mr-0">
                <div class="col-6 mb-2">
                    <button pButton pRipple 
                    [disabled]="!newCoopForm.valid"
                    label="Enregistrer"
                    icon="pi pi-save"
                    type="button" 
                    class="p-button-outlined p-button-success mr-2 mb-2"
                    (click)="saveModifications()"
                    ></button>
                </div>
                <div class="col-6 mb-2">
                    <button pButton pRipple 
                        label="Annuler"
                        icon="pi pi-times-circle"
                        type="button" 
                        class="p-button-outlined p-button-danger mr-2 mb-2" 
                        (click)="cancelModifications()"
                    ></button>
                </div>
            </div>
            <div class="grid ml-0 mr-0">
                <div class="col-12 mb-2">
                    <button pButton pRipple 
                    label="Test"
                    icon="pi pi-cog"
                    type="button" 
                    class="p-button-outlined p-button-warning mr-2 mb-2"
                    (click)="testForm()"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
