<h1>Recherche Evènements par coopérative</h1>

<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <h2>Liste des coopératives</h2>
            <p-dropdown 
                [options]="listCoops" optionLabel="name" optionValue="id"
                [(ngModel)]="coopId" 
                placeholder="Choisissez une coopérative" 
                [showClear]="false"
                (onChange)="getOneCoop(coopId)"
            >
            </p-dropdown>
        </div>
        
        <!-- ℹ️ Cooperative and Events Details -->
        <div *ngIf="selectedCoop" class="card">
            <div class="grid">
                <!-- ℹ️ Cooperative Details -->
                <div class="col-5" style="border-right: 1px solid var(--gray-300)">
                    <div class="grid">
                        <div class="col-2">
                            <img src="{{ selectedCoop.logo }}" width="70%">
                        </div>
                        <div class="col">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Nom</th>
                                        <td>{{ selectedCoop.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Type</th>
                                        <td>{{ selectedCoop.coop_type.label }} ({{ selectedCoop.coop_type.id }})</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ selectedCoop.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Addresse</th>
                                        <td>
                                            <span *ngIf="selectedCoop.address.street_name">
                                                {{ selectedCoop.address.street_name }}
                                                <span *ngIf="selectedCoop.address.street_nb">, {{selectedCoop.address.street_nb }}</span>
                                                <br />
                                            </span>
                                            {{ selectedCoop.address.postal_code }} {{ selectedCoop.address.city }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="coopEvents">
                        <h5>Evènements</h5>
                        <table>
                            <tbody>
                                <tr *ngFor="let event of coopEvents">
                                    <th style="text-align: right">
                                        <em>{{ event.event_type.label }}</em>
                                    <td>
                                        {{ event.name }}
                                    </td>
                                    <td>
                                        {{ event.datetime_start | date: 'dd MMM yy' }}
                                    </td>
                                    <td>
                                        <span *ngIf="event.location != ''"> ({{ event.location }})</span>
                                        <span *ngIf="event.location == ''"> ({{ event.address.city }})</span>
                                    </td>
                                    <td>
                                        <button pButton pRipple 
                                            label=""
                                            icon="pi pi-info-circle"
                                            type="button" 
                                            class="p-button-outlined p-button-sm p-button-info mr-2 mb-2" 
                                            (click)="showEvent(event)"
                                        ></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- ℹ️ Coop's Events list -->
                <div *ngIf="selectedEvent" class="col">
                    <h3>{{ selectedEvent.event_type.label }} - {{ selectedEvent.name }}</h3>
                    <h5>{{ selectedEvent.description }}</h5>
                    <p>
                        <em>Du {{ selectedEvent.datetime_start | date: 'dd MMM yyyy H:mm' }} au {{ selectedEvent.datetime_end | date: 'dd MMM yyyy H:mm' }}</em>
                        <br />
                        <em>{{ selectedEvent.nb_people_min }} à {{ selectedEvent.nb_people_max }} participants</em>
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <td><i class="pi pi-map-marker text-red-500" style="font-size: 2rem"></i></td>
                                <td>
                                    <p>
                                        <b *ngIf="selectedEvent.location != ''">{{ selectedEvent.location }}</b>
                                        <br />
                                        <span *ngIf="selectedEvent.address.street_name">
                                            {{ selectedEvent.address.street_name }}
                                            <span *ngIf="selectedEvent.address.street_nb">, {{ selectedEvent.address.street_nb }}</span>
                                        </span>
                                        <br />
                                        <span>{{ selectedEvent.address.postal_code }}&nbsp;{{ selectedEvent.address.city }}</span>
                                    </p>
                                </td>
                                <td>
                                    <button pButton pRipple 
                                        label="Participer"
                                        icon="pi pi-ticket"
                                        type="button" 
                                        class="p-button-outlined p-button-sm p-button-success mr-2 mb-2" 
                                        (click)="register()"
                                    ></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="bg-yellow-100">
                        lon: {{ selectedEvent.gps.lon }}
                        <br />
                        lat: {{ selectedEvent.gps.lat }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
