/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Code Highlight */
@import "../node_modules/prismjs/themes/prism-coy.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";



/* Remove header's bottom padding on popup dialog box*/
.p-dialog-header {
    padding-bottom: 0 !important;
}

/* Styling tables when I want to */
table.my-table {
    border-collapse: collapse;
}
table.my-table td, 
table.my-table th {
    padding: 1rem 1rem;
    border: 1px solid #dee2e6;
}
table.my-table th {
    background: #f8f9fa;
}

table.no-style {
    border-collapse: collapse;
}
table.no-style td {
    vertical-align: top;
    padding: 2px;
    border: none !important;
}



/* Forms input alignment (when several inputs are on the same line) */
div.my-grid {
    margin-left: auto;
    margin-right: auto;
}
div.my-grid>div {
    padding-top: 0;
    padding-bottom: 0;
}


/* Information text */
.info {
    color: #0288D1 !important;
    display: inline-block;
    width: 100%;
    text-align: center;
}
a.info:hover {
    text-decoration: underline;
}