<h1 *ngIf="event" >{{ event.name }} <em>({{ event.event_type.label }})</em></h1>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <div *ngIf="event" class="grid">
                <div class="col-4" style="position: relative;">
                    <h5>{{ event.description }}</h5>
                    <p>
                        <em>Du {{ event.datetime_start | date: 'dd MMM yyyy H:mm' }} au {{ event.datetime_end | date: 'dd MMM yyyy H:mm' }}</em>
                        <br />
                        <em>{{ event.nb_people_min }} à {{ event.nb_people_max }} participants</em>
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <td><i class="pi pi-map-marker text-red-500" style="font-size: 2rem"></i></td>
                                <td>
                                    <p>
                                        <b *ngIf="event.location != ''">{{ event.location }}</b>
                                        <br />
                                        <span *ngIf="event.address.street_name">
                                            {{ event.address.street_name }}
                                            <span *ngIf="event.address.street_nb">, {{ event.address.street_nb }}</span>
                                        </span>
                                        <br />
                                        <span>{{ event.address.postal_code }}&nbsp;{{ event.address.city }}</span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <span 
                    *ngIf="checkUserParticipation()" 
                    class="info mb-2"
                    >💗&nbsp;<em>Vous participez déjà à cet évènement</em></span>
                    <button pButton pRipple 
                        *ngIf="!checkUserParticipation()"
                        label="Participer"
                        icon="pi pi-ticket"
                        type="button" 
                        class="p-button-outlined p-button-sm p-button-success mr-2 mb-2" 
                        (click)="participate()"
                    ></button>
                    <br />
                    <div class="p-fluid col pt-0 pb-0 stick-bottom">
                        <h4>Proposé par: </h4>
                        <div *ngIf="coop" style="text-align: center">
                            <span>
                                <h4 class="ml-4">
                                    <img 
                                    class="mr-4" 
                                    style="vertical-align: middle" 
                                    src="{{ coop.logo }}" 
                                    width="60px">
                                    {{ coop.name }}
                                </h4>
                            </span>
                        </div>
                        <br />
                        <button pButton pRipple 
                            label="Retour à la liste Evènements"
                            icon="pi pi-list"
                            type="button" 
                            class="p-button-outlined p-button-sm p-button-info mr-2 mb-2" 
                            routerLink="/events"
                        ></button>
                    </div>
                </div>
                <div  *ngIf="user" class="col">
                    <app-event-map
                        [eventGpsPos]="event.gps"
                        [userGpsPos]="user.gps"
                    ></app-event-map>
                </div>
            </div>
        </div>
    </div>
</div>