<h1>Bienvenue sur Wallo-Coop !</h1>

<div class="grid">
    <div class="col-4">
        <img src="../../../../assets/app/images/wallo-coop-icon.png">
    </div>
    <div class="col-1">
    </div>
    <div class="col">
        <div *ngIf="!userIsConnected" class="card">
            <h2>Coopératives</h2>
            <button pButton pRipple 
                icon="pi pi-plus-circle" 
                label="Créer une Coop"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/coop-admin/new"
            ></button>
            <br />
            <button pButton pRipple
                icon="pi pi-sign-in" 
                label="Connection (Coop)"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/coop-login"
            ></button>
            <button pButton pRipple 
                icon="pi pi-id-card" 
                label="Voir profil Coop connectée"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                (click)="seeCoopProfile()"
            ></button>
        </div>

        <div *ngIf="!coopIsConnected" class="card">
            <h2>Participants</h2>
            <button pButton pRipple 
                icon="pi pi-user-plus" 
                label="Création Participant"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/user/new"
            ></button>
            <br />
            <button pButton pRipple 
            icon="pi pi-sign-in" 
            label="Connection (Participant)"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/user-login"
            ></button>
            <button pButton pRipple 
                icon="pi pi-id-card" 
                label="Profil Participant"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                (click)="seeUserProfile()"
            ></button>
            <br />
            <button pButton pRipple 
                icon="pi pi-id-card" 
                label="Voir les Evènements"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/coop"
            ></button>
        </div>
    </div>
</div>

<p-toast></p-toast>