<h1>Bienvenue sur Wallo-Coop !</h1>

<div class="grid">
    <div class="col-4">
        <img src="../../../../assets/app/images/wallo-coop-icon.png">
    </div>
    <div class="col-1">
    </div>
    <div class="col">
        <div *ngIf="!userIsConnected" class="card">
            <div class="grid p-fluid">
                <div class="col-4">
                    <h2>💚 Coopératives</h2>
                    <button pButton pRipple 
                        *ngIf="!coopIsConnected"
                        icon="pi pi-plus-circle" 
                        label="Créer un profil Coopérative"
                        type="button" 
                        class="p-button-outlined p-button-primary mr-2 mb-2" 
                        routerLink="/create/coop"
                    ></button>
                    <br />
                    <button pButton pRipple
                        *ngIf="!coopIsConnected"
                        icon="pi pi-sign-in" 
                        label="Connection (Coopérative)"
                        type="button" 
                        class="p-button-outlined p-button-primary mr-2 mb-2" 
                        routerLink="/login/coop"
                    ></button>
                    <button pButton pRipple 
                        *ngIf="coopIsConnected"
                        icon="pi pi-eye" 
                        label="Voir Profil Coopérative"
                        type="button" 
                        class="p-button-outlined p-button-info mr-2 mb-2" 
                        (click)="seeCoopProfile()"
                    ></button>
                </div>
            </div>
        </div>

        <div *ngIf="!coopIsConnected" class="card">
            <div class="grid p-fluid">
                <div class="col-4">
                    <h2>🙋‍♀️ Participants</h2>
                    <button pButton pRipple 
                        *ngIf="!userIsConnected"
                        icon="pi pi-user-plus" 
                        label="Créer un profil Participant"
                        type="button" 
                        class="p-button-outlined p-button-primary mr-2 mb-2" 
                        routerLink="/create/user"
                    ></button>
                    <br />
                    <button pButton pRipple 
                        *ngIf="!userIsConnected"
                        icon="pi pi-sign-in" 
                        label="Connection (Participant)"
                        type="button" 
                        class="p-button-outlined p-button-primary mr-2 mb-2" 
                        routerLink="/login/user"
                    ></button>
                    <button pButton pRipple 
                        *ngIf="userIsConnected"
                        icon="pi pi-eye" 
                        label="Voir Profil Participant"
                        type="button" 
                        class="p-button-outlined p-button-info mr-2 mb-2" 
                        (click)="seeUserProfile()"
                    ></button>
                    <br />
                    <button pButton pRipple 
                        [disabled]="!userIsConnected"
                        icon="pi pi-list" 
                        label="Voir les Événements"
                        type="button" 
                        class="p-button-outlined p-button-info mr-2 mb-2" 
                        (click)="seeEventsList()"
                    ></button>
                </div>
            </div>
        </div>

        <div *ngIf="false" class="card">
            <h2>👷 Tests</h2>
            <button pButton pRipple 
                icon="pi pi-cog" 
                label="Page de Tests"
                type="button" 
                class="p-button-outlined p-button-warning mr-2 mb-2" 
                routerLink="/test"
            ></button>
        </div>
    </div>
</div>