<h1>Bienvenue sur Wallo-Coop !</h1>

<div class="grid">
    <div class="col-4">
        <img src="../../../../assets/app/images/wallo-coop-icon.png">
    </div>
    <div class="col-1">
    </div>
    <div class="col">
        <div *ngIf="!userIsConnected" class="card">
            <h2>💗 Coopératives</h2>
            <button pButton pRipple 
                icon="pi pi-plus-circle" 
                label="Créer une Coop"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/create/coop"
            ></button>
            <br />
            <button pButton pRipple
                icon="pi pi-sign-in" 
                label="Connection (Coop)"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/login/coop"
            ></button>
            <button pButton pRipple 
                icon="pi pi-id-card" 
                label="Profil Coopérative"
                type="button" 
                class="p-button-outlined p-button-info mr-2 mb-2" 
                (click)="seeCoopProfile()"
            ></button>
        </div>

        <div *ngIf="!coopIsConnected" class="card">
            <h2>🙋‍♀️ Participants</h2>
            <button pButton pRipple 
                icon="pi pi-user-plus" 
                label="Création Participant"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/create/user"
            ></button>
            <br />
            <button pButton pRipple 
            icon="pi pi-sign-in" 
            label="Connection (Participant)"
                type="button" 
                class="p-button-outlined p-button-primary mr-2 mb-2" 
                routerLink="/login/user"
            ></button>
            <button pButton pRipple 
                icon="pi pi-id-card" 
                label="Profil Participant"
                type="button" 
                class="p-button-outlined p-button-info mr-2 mb-2" 
                (click)="seeUserProfile()"
            ></button>
            <br />
            <button pButton pRipple 
                icon="pi pi-list" 
                label="Voir les Evènements"
                type="button" 
                class="p-button-outlined p-button-info mr-2 mb-2" 
                (click)="seeEventsList()"
            ></button>
        </div>

        <div *ngIf="!coopIsConnected" class="card">
            <h2>👷 Tests</h2>
            <button pButton pRipple 
                icon="pi pi-cog" 
                label="Page de Tests"
                type="button" 
                class="p-button-outlined p-button-warning mr-2 mb-2" 
                routerLink="/test"
            ></button>
        </div>
    </div>
</div>